<h1>Your question is:</h1>
<p><%= @query %></p>
<h1>Coach's answer is:</h1>
<!-- <p>Find me in app/views/coaching/answer.html.erb</p> -->
<p><%= @answer %></p>

<%= link_to "Ask new question", ask_path %>
